@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@500&family=Unbounded:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #293c5a;
}

.container-header {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    padding: 20px;
    width: 85%;
    justify-content: space-between;
}

.header p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    padding-top: 20px;
}

.switch {
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #8b66c7;
    border-radius: 50px;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.switch-radios {
    position: relative;
}

.switch-radios>* {
    position: absolute;
}

.switch-fas {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
}

input[type="radio"]:first-of-type {
    right: 22px;
}

input[type="radio"]:nth-of-type(2) {
    right: -10px;
}

input[type="radio"]:last-of-type {
    right: -42px;
}

.ball {
    background: #e31313;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 3px;
    transition: all .5s ease;
}

body.moon .container {
    background-color: #623ca0;
}

body.sun .switch {
    background-color: #c8c8ba;
}

body.sun .container {
    background-color: #e4e4dd;
}

body.sun #calculator {
    background-color: #c1c1bc;
}

body.sun #display input[type="text"] {
    color: black;
}

body.sun .header p {
    color: black;
}

body.sun #display {
    background-color: #fffff6;
}

body.meteor .container {
    background-color: #180f34;
}

body.meteor #buttons button {
    background-color: #2e1851;
    color: yellow;
}

body.meteor .switch {
    background-color: #1e1c23;
    ;
    color: yellow;
}

body.meteor #display {
    background-color: #132442;
}

body.meteor #display input[type="text"] {
    color: yellow;
}

body.meteor .header p {
    color: yellow;
}


input[type="radio"] {
    cursor: pointer;
    opacity: 0;
}

#display {
    text-align: center;
    width: 80%;
    padding: 10px;
    background-color: #021532;
    border-radius: 8px;
}

#result {
    width: 90%;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 36px;
    background-color: #ffffff00;
    color: #ffffff;
    text-align: end;
    border: none;
}

#calculator {
    width: 80%;
    height: 400px;
    margin: 20px auto;
    padding: 10px;
    background-color: #0e203a;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    padding: 10px 20px 20px 20px;
}

#buttons button {
    width: 100%;
    height: 50px;
    padding: 2px;
    font-size: 24px;
    font-weight: 900;
    color: #45546a;
    background-color: #e6e6e6;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 rgba(255, 229, 229, 0.653);
}

#buttons button:hover {
    /* background: linear-gradient(to bottom, #e6e6e6 5%, #ffffff 100%); */
    background-color: #ffffff;
}

#buttons button:active {
    position: relative;
    top: 2px;
}

#buttons #del {
    background-color: #3d5981;
    color: white;
    box-shadow: 0 2px 2px 0 #5d83b9;
}

#buttons #del:hover {
    background-color: #5d83b9;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.row button {
    width: 47.5%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 900;
}


.row button:nth-child(2):hover {
    background-color: rgba(255, 156, 156, 0.653);
}

.row button:nth-child(1):hover {
    background-color: #5d83b9;
}

.row button:active {
    position: relative;
    top: 2px;
}

.row button:nth-child(1) {
    background-color: #3d5981;
    box-shadow: 0 2px 2px 0 #5d83b9;
    color: white;
}

.row button:nth-child(2) {
    background-color: rgb(255, 68, 68);
    box-shadow: 0 2px 2px 0 rgba(255, 156, 156, 0.653);
    color: white;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .container-header {
        width: 100%;
    }


    #calculator,
    #display {
        width: 90%;
    }

    #buttons {
        grid-gap: 10px;
        padding: 10px 5px 20px 5px;
        width: 100%;
        margin: auto 0;
        margin-bottom: 10px;
    }

    .row {
        padding: 7px;
    }
}